/* ----- FOR GENERAL ELEMENTS ----- */

body {
    box-sizing: border-box;
    justify-content:space-between;
    font-family: 'Fredoka', sans-serif;
    background-color: azure;
}

*,
:after,
:before {
    padding: 0;
    margin: 0;
}

/* ----- HEADER ----- */

.header .container {
    padding-bottom: 30px;
}

.container {
    width: 900px;
    margin: 0 auto;
    /* background-color: rgb(213, 228, 228); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-h1 {
    font-weight: 600;
    font-size: 44px;
    margin: 0 0 30px 20px;
    letter-spacing: 5px;
}

.avatar {
    height: 150px;
    margin: 20px;
    border-radius: 50%;
}

a img {
    height: 25px;
}

.header-info ul {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.header-info ul li {
    margin: 0 10px;
    list-style-type: none;
}

/* ----- ABOUT ME ----- */

.about-me {
    margin-left: 20px;
}

.about-me h3{
    margin-bottom: 10px;
}

.about .container {
    padding-bottom: 30px;
}

/* ----- SKILLS ----- */

.skills-all {
    margin-left: 20px;
}

.skills-all  h3{
    margin-bottom: 10px;
}

.skills ul {
    display: inline-block;
    margin-left: 0px;
    align-items: center;
    list-style: none;
}

.skills ul li {
    float: left;
    margin-right: 15px;
}

.skills .container {
    padding-bottom: 30px;
}

/* ----- EXPERIENCE ----- */

.experience-all {
    margin-left: 20px;
    line-height: 25px;
}

.experience-all h3 {
    margin-bottom: 10px;
}

.experience-all ul li {
    list-style-type: none;
}

.experience .date {
    margin-bottom:  15px;
}

.converse-logo, .digitain-logo, .synopsys-logo {
    width: 25px;
    margin-top: 10px;
    margin-right: 25px;
}

.converse, .digitain, .synopsys {
    display: flex;
    margin-bottom: 30px;
}

/* ----- EDUCATION ----- */

.education-all {
    margin-left: 20px;
    line-height: 25px;
}

.education-all h3 {
    margin-bottom: 10px;
}

.education-all ul li {
    list-style-type: none;
}

.education .date {
    margin-bottom:  15px;
}

.education-all .synopsys-logo, .education-all .npua-logo {
    width: 25px;
    margin-top: 10px;
    margin-right: 25px;
}

.education-all .synopsys-master, .education-all .synopsys-bachelor, .education-all .npua-bachelor {
    display: flex;
    margin-bottom: 30px;
}

/* ----- FOOTER ----- */

.footer h5 {
    margin-left: auto;
}